# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Excel files
*.xlsx

# Ignore model files in case of regeneration
*.pkl

# Ignore VS Code settings
.vscode/

# Ignore Streamlit cache
.streamlit/
